.buttonscard {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    width: 100%;
}
.form-inline.my-2.my-lg-0 {
    width: 40%;
}
.btn-group{
    width: 100%;
}
.parent{
    width: 50px;
    height: 50px;
}
.parentsection{
    display: flex;
}
.parentsection span{
    padding-top: 7%;
}
.btn-secondary {
    color: #3723A5;
    background-color: #9E9E9E05;
}
.authentification{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.btn-label {position: relative;left: -12px;display: inline-block;padding: 6px 12px;background: rgba(0,0,0,0.15);border-radius: 3px 0 0 3px;}
.btn-labeled {padding-top: 0;padding-bottom: 0;}
.btn { margin-bottom:10px; }
.ant-card-bordered {
    border: 1px solid #e8e8e8;
    border-radius: 10px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    height: 50%;
}
