/* .homepage {
  background-image: url("https://i.pinimg.com/originals/a0/b8/f0/a0b8f04ebec3316989f69118e5bde78f.jpg");
} */
.allamnidescription {
    width: 60%;
    margin: auto;
    margin-top: 5%;
    text-align: center;
    font-style: italic;
    font-size: 30px;
    /* text-shadow: 2px 2px 2px black; */
    /* border-bottom: 1px solid #000; */
    padding-bottom: 4%;
    border-color: black;
    font-weight: bold;
  }
  .allamnidescription span {
    color: #e83e8c;
  }
  .recommandationetnews {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    align-items: flex-start;
    height: 100%;
  }
  .recommandation {
    display: flex;
    border-bottom: 1px solid gray;
  
    padding-top: 5%;
    padding-bottom: 5%;
    width: 80%;
    margin: auto;
  }
  .partie1recom {
    width: 50%;
    margin-right: 2%;
    margin-left: 10%;
  }
  .recommandationimage {
    float: left;
    width: 10%;
    height: 20%;
  }
  .partie1recom h2 {
    padding-top: 1%;
    font-family: cursive;
    color: #11a934;
    text-shadow: 2px 2px 4px #000000;
  }
  .partie1recom p {
    width: 80%;
    margin-left: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    float: left;
  }
  .news {
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
  }
  .partienews {
    width: 40%;
  }
  .textenews {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20%;
    margin-left: 5%;
  }
  .idee {
    margin-bottom: 40px;
  }
  .textenews h6 {
    text-align: center;
    /* width: 80%; */
    color: rgb(97, 96, 96);
    text-shadow: 1px 2px 3px #666;
    font-size: 30px;
  }
  .imagesct {
    width: 100px;
    height: 70px;
    border-radius: 5px;
    float: left;
    margin-right: 5%;
  }
  h6 {
    width: 60%;
    color: #000;
    font-weight: bold;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .sousnews {
    height: 20%;
    border-bottom: 1px solid gray;
    padding: 5% 0%;
  }
  .descriptionsct {
    width: 60%;
    color: #000000a8;
    font-weight: bold;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .newimage {
    width: 250px;
    height: 150px;
  }
  .textpresentation {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  