* {
    margin: 0;
    padding: 0;
  }
  
  body,
  html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
  }
  
  .bgimg-1,
  .bgimg-2,
  .bgimg-3 {
    position: relative;
    opacity: 0.9;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .signinup {
    background-image: url("https://img5.goodfon.com/wallpaper/nbig/9/60/fastfud-gamburger-buterbrod-kartofel-fri-chernyi-fon-boke.jpg");
    min-height: 100vh;
    opacity: 0.3;
  }
  
  .bgimg-1 {
    background-image: url("https://app-enfant.fr/wp-content/uploads/lingokids-apprendre-langlais-800x400.jpg");
    min-height: 100vh;
  }
  
  .bgimg-2 {
    background-image: url("../../assets/intro/children.jpg");
    min-height: 400px;
  }
  
  .bgimg-3 {
    background-image: url("https://sgmagazine.com/sites/default/files/u143089/the_carvery_-_festive_forest_feast_2018.jpg");
    min-height: 400px;
  }
  
  .caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
  }
  .logo {
    color: #b67338;
    background-color: transparent;
  }
  .auth {
    display: flex;
    justify-content: space-between;
  }
  .auth button {
    color: white;
    border: #7eb8b5 !important;
    border-radius: 60px;
    background-color: #7eb8b5 !important;
  }
  
  .caption span.border {
    background-color: transparent;
 
    padding: 18px;
    font-size: 100%;
    letter-spacing: 10px;
   
}
  
  h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", mplens-serif;
    color: #111;
  }
  
  @media only screen and (max-device-width: 1024px) {
    .bgimg-1,
    .bgimg-2,
    .bgimg-3 {
      background-attachment: scroll;
    }
  }
  
  